.grid-demo {
  margin-bottom: 2rem;
  [class*='grid'] {
    background-color:pink;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .outside {
    min-height: 5rem;
  }
  .inside {
    background-color: #edf4ff;
    min-height: 5rem;
  }
  [class*='--aspect-ratio--'] {
    .inside,
    .outside,
    &.outside {
      height: 100%;
    }
  }
  [class*='col'] {
    background-color: #dbeaff;
    outline: 1px dashed #97c1ff;
  }
}
