@import '../../assets/_variables.scss';
.input-demo {
  .input-wrap {
    align-items: center;
    display: inline;
    
  }

  .label::after{
    content:"*";
    color: $red;
  }

  .el-input {
    max-width: 25rem;
  }

.future-use-input-demo {
  .el-select .el-input {
    width: 6.9rem;
    }
  .el-input {
    max-width: 20rem;   
    }
  }
}

.multiline {
    width: 30rem;
}  
