@import './_variables';

.el-collapse-item{
  border-top: 2px solid $lineColor1;
  &:last-child {
    border-bottom: 2px solid $lineColor1;
  }
  &__header{
    font: normal normal 600 1.13rem/1.5rem $font-family; 
    padding-left:1rem;
    color: $blue;
  }

  &__content{
    font: normal normal 400 1.13rem/1.5rem $font-family;     // need to re-write 'body' styles here
    color:$text-color;
    padding:1rem;           //to overwrite default bottom padding
    border-top: 2px solid $lineColor1;
    background-color:$background;
  }

  &__arrow{
    font-size: 2.13rem;
    font-weight: 700;
    color:$blue;
  }
}
