@import '../_variables.scss';


.el-radio-button{
  &:first-child .el-radio-button__inner {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
  }
  &:last-child .el-radio-button__inner {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }

  &__inner{           //default button 
    width:7.5rem;
    max-width: 12.8rem;
    background-color:$cochlear;
    color:$input-text;
    border-color:$lineColor1;  
    padding-top: 0.56rem;
    padding-bottom:0.56rem;
    @extend.field1;  
  }
  &__orig-radio:checked+ .el-radio-button__inner {       //checked button 
    background-color: $app-primary-color;
    border-color:$app-primary-color;
    color:$cochlear;
  }
}