@import '../_variables.scss';

.el-select {
  .el-input {
    input::placeholder {
      color:$input-text;
    }
    .el-select__caret::before{
      content: '\e605';
      color:#808080;
      font-size: 25px;
    }

    &.is-disabled {
      input {
        border-color: $mediumGrey;
      }
      .el-select__caret {
        color: $lightGrey;
      }
      .el-input__inner {
        &:hover {
          border-color: $mediumGrey !important;
        }
      }
    }

    &.secondary {
      .el-input {
        input {
          border-color: lightgray;   
        }
      }
    }

    .el-select__caret {
      color: $mediumGrey;
    }
  }

  &.dropdown1 {
    max-width: 150px;
  }

  &.dropdown2 {
    .el-input {   
      input {
        background-color:$lineColor1;
        opacity: 0.35;
      }
      .el-select__caret::before {
        color:$lineColor1;
      }
    }
  }
}

.el-select-group__title {
  color: $mediumGrey;
  font-size: 14px;
  font-weight: bold;
}

// HACK: The only way to edit the icon in the select
// input box is to directly change the content value
// of the <i> tag.
.el-icon-arrow-up {
  &::before {
    content: ''
  }
}
