@import '../_variables.scss';

.el-tooltip {
  &__popper {
    background: $tooltipColor !important;
    border: 1px solid $blue;
    border-radius: 0.25rem;
    color:$darkBlue !important;
    font-size: 0.75rem;
    line-height: 1.13rem;
    a:not(.underline){
      text-decoration: underline;
      color:$darkBlue;   
    }
  }
}

.el-tooltip__popper[x-placement^="top"] .popper__arrow {
  border-top-color:$blue;
  border-bottom-width: 0;
}
.el-tooltip__popper[x-placement^="top"] .popper__arrow::after {
  border-top-color: $tooltipColor;
  border-bottom-width: 0;
}

.el-tooltip__popper[x-placement^="bottom"] .popper__arrow {
  border-top-width: 0;
  border-bottom-color:$blue;
}
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow::after {
  border-top-width: 0;
  border-bottom-color: $tooltipColor;
}

.el-tooltip__popper[x-placement^="right"] .popper__arrow {
  border-right-color:$blue;
  border-left-width: 0;
}
.el-tooltip__popper[x-placement^="right"] .popper__arrow::after {
  border-right-color: $tooltipColor;
  border-left-width: 0;
}

.el-tooltip__popper[x-placement^="left"] .popper__arrow {
  border-right-width: 0;
  border-left-color:$blue;
}
.el-tooltip__popper[x-placement^="left"] .popper__arrow::after {
  border-right-width: 0;
  border-left-color: $tooltipColor;
}