@import '../_variables.scss';

.el-button {
  background: $red;
  // border: 1px solid $app-primary-color;
  box-sizing: border-box;
  color: $cochlear;
  font-size: 18px;
  // font-family: $font-family;
  font-family:Semibold;
  font-weight: 500;
  // padding: 0.625rem 1.1875rem;
  padding: 7px 40px 7px 40px;
  height: 32px;
  &:hover{
    background:#AC0E35; // This color has not been defined in '_variable.scss', but it defined in the standard design system sheet. 
    color: $cochlear ;
  }
  &:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    background: $lineColor1;
    // border: 1px solid $app-primary-color;
    // box-shadow: -3px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: $cochlear;
    opacity: 35%;
  }
  &[disabled],
  &[disabled]:hover {
    box-shadow: none;
    opacity: 0.6;
  }
  &.uppercase {
    text-transform: uppercase;
  }

  &.large {
    // padding: 0.75rem 1.1875rem;
    text-align: center;
  }

  &.small,
  &.extra-small {
    border-radius: 3px;
    font-size: 0.75rem;
    padding: 0.5625rem 0.875rem;
  }

  &.extra-small {
    padding: 0.3125rem 0.875rem;
  }

  &.secondary{
    background:#F8DBE2;
    border: 2px solid $red;
    color: $red;
    &:hover{
      background:#F1B7C5; // This color has not been defined in '_variable.scss', but it defined in the standard design system sheet. 
      border: 2px solid #AC0E35;  //Same here
      color: #AC0E35 ;   // Same here
    }
  }
  
  &.secondary[disabled],
  &.secondary[disabled]:hover,
  &.secondary[disabled]:focus {
    background: $lineColor1;
    border: 2px solid $lineColor1;
    color: $cochlear;
    opacity: 35%;
    &.alt {
      background: $cochlear;
      border-color: $mediumGrey;
      color: $mediumGrey;
    }
  }

  &.danger,
  &.danger[disabled],
  &.danger[disabled]:hover,
  &.danger[disabled]:focus {
    background: $danger;
    border-color: $danger;
    color: $cochlear;
  }

  &.is-circle {
    padding: 0.25rem;
  }
}
