@import './_variables';

body {
  font-family: $font-family;
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
  color:$text-color;
  margin: 0;
}

.body2{
  font-weight: 600 !important;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:$app-primary-color;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:$text-color
}

h3{
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color:$app-primary-color;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color:$app-primary-color;
}


h5, h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.75rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: $app-secondary-color !important;
  font-size: 14px;
  text-decoration: underline !important;
  line-height: 24px;
  &:not(.underline) {
    text-decoration: none;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p {
  margin: 0 0 1rem;
}

hr {
  margin: 0 0 1rem;
}

input {
  color: $input-text;
  font-family: $font-family;
  font-size: inherit;
}

.btn-link {
  display: inline-block;
  text-decoration: none;;
}

.nav1 {
  font-size:16px;
  line-height:18px;
  font-weight:400;
  color: $app-primary-color;
  &:selected {
    font-weight:700;
  }
}
/*
.nav2 {
  font-size:14px;
  line-height:32px;
  font-weight:500;
  color: $darkBlue;
}

.nav5 {
  font-size:12px;
  line-height:24px;
  font-weight:400;
  color: $cochlear;
}

.nav6 {
  font-size:12px;
  line-height:24px;
  font-weight:400;
  color: $darkBlue;
}*/


.field1{
font-size: 16px;
line-height: 20px;
}

.field-info
{
  padding-top: 12px;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
}

.placeholder
{
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: $lineColor1;
}

.placeholder2
{
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
}